DJANGO_SECRET_KEY=change-me-clothes
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,clothes_service
SERVICE_NAME=clothes_service
DB_NAME=clothes_db
DB_USER=postgres
DB_PASSWORD=postgres123
DB_HOST=localhost
DB_PORT=5432
SERVICE_PORT=8008
